<div class="row" >
  <h1 class="fucsia_font">Mis Postulaciones</h1>
  <ul class="collection" >
      <% @requests.each do |request| %>
     <li class="collection-item avatar">
       <span class="title"><%= request.user.email %></span>
       <p><%= request.mensaje %>
       </p>
       <p><%= request.contacto_mail %>
       </p>
      <h4 class=" secondary-content "></h4>


     </li>
  <% end %>
   </ul>

</div>
