<br><br><br>
<br><br>
<footer class="morado_ruta">
  <div class="container">
    <div class="row primera_sesion">
      <div class="col s12 m12 l12 ">
        <div class="col s6 m6 l6">
          <a href="https://www.rutanio.com/"><img src="/images/rutanio_blanco.png" class="center logo_pie1"></a>
        </div>
        <div class="col s6 m6 l6">
          <ul class="listado_pie">
            <li><a target="_blank" href="https://github.com/rutanio"><img src="/images/gitb.png" class="logo_pie"></a></li>
            <li><a target="_blank" href="https://discord.com/invite/WaxH67G"><img src="/images/discordb.png" class="logo_pie"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="segunda_sesion center">
      <ul class="white-text">
        <li>info@rutanio.com</li>
        <br>
        <li>@2020 Organizacion Rutanio. All rights reserved.</li>
        <br>
        <li><a href="https://www.rutanio.com/privacy-policy">Privacy Policy</a></li>
        <br>
        <li>Report an issue</li>
        <br>
        <li>Marketplace creado por: <a target="_blank" class="fontX" href="https://companiax.com/">Compañia X</a></li>
        <br><br>
      </ul>

    </div>



  </div>
  <div class="center">
    <a href="https://discord.com/channels/601617048971509802/613756615199293480" class="white-text">Canal Soporte</a>
    <br><br>
  </div>

</footer>
