<footer class="morado_ruta">
  <div class="row primera_sesion">
    <div class="col s12 m12 l12 ">
      <div class="col s6 m6 l6">
        <img src="/images/rutanio_blanco.png" class="logo">
      </div>
      <div class="col s3 m3 l3">
        <img src="/images/discordb.png" class="logo_pie">
      </div>
      <div class="col s3 m3 l3">
        <img src="/images/gitb.png" class="logo_pie">
      </div>
    </div>
  </div>
  <div class="segunda_sesion">

  </div>


</footer>
