<!DOCTYPE html>
<html>
  <head>
    <title>Rutanio - Marketplace</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>


  <body>

    <p>
      
      <br>
      <%= @contacto%>




    </p>

        <!-- Compiled and minified JavaScript -->
        <script defer  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
