server {
        listen 80 default_server;
        listen [::]:80 default_server;
        server_name _;

        root /var/www/html;

        location / {
                return 301 https://$host$request_uri;
        }

        location ~ /.well-known/acme-challenge {
                allow all;
                root /var/www/html;
        }
}
