<div class="container " style="padding:2%;">
  <div class="row" >
    <h1 class="fucsia_font">Mis Postulaciones</h1>
    <ul class="collection">


        <% @requests.each do |request| %>
       <li class="collection-item avatar">
         <img src="/images/ruta.png" alt="" class="circulo">
         <span class="title"><%= request.service.mail_servicio %></span>
         <br>Nombre servicio:
         <%= request.service.name %> <br>
         <p>Mensaje enviado:<%= request.mensaje %>
         </p>
        <h4 class=" secondary-content morado_font">
          Fecha Postulacion:
          <%= request.created_at.strftime("%d-%m-%Y ")  %>



        </h4>


       </li>
    <% end %>
     </ul>

  </div>


</div>


<br><br><br><br><br>
