<div class="container " style="padding:2%;">
  <div class="row" >
    <h1 class="fucsia_font">Mis Postulaciones</h1>
    <h4>Chequea las respuestas de tus solicitudes a los servicios</h4>
    <ul class="collection">
        <% @requests.each do |request| %>
       <li class="collection-item avatar">
         <img src="/images/ruta.png" alt="" class="circulo">
         <span class="title"><%= request.service.mail_servicio %></span>
         <br>Nombre servicio:
         <%= request.service.name %> <br>
         Fecha Postulacion:
         <%= request.created_at.strftime("%d-%m-%Y ")  %>
<br>
        <span class=" secondary-content morado_font">
          <p>Mensaje:<%= request.mensaje %> <i class="red-text material-icons">announcement</i>
          </p>
        </span>


       </li>
    <% end %>
     </ul>

  </div>


</div>


<br><br><br><br><br>
