/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bitter|Spicy+Rice');
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

header, main, footer {
  padding-left: 300px !important;
}

.avatarFoto{
  width: 100%;
}
.enlacePoliticas{
  font-style: italic;
  color: #9e9e9e;
}

.cartaS{
  height: 220px !important;
  border-radius: 10px !important;
  padding: 2%;
}


@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
.fucsia_ruta{
  background: #ff4863 !important;

}
.fucsia_font{
  color: #ff4863!important;
  font-size: 1.9em;

}
.ddd2{
  color: #ff4863!important;
  font-size: 1.9em !important;
}
.morado_ruta{
  background: #331138 !important;
}
.morado_font{
  color: #331138 !important;
  font-size: 1.9em;

}
.desc_font{
  font-size: 1.4em;

}
.desc_fontP{
  font-size: 1.2em;
}



h1,h2,h3,h4{
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
}
body{
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
}
nav{
  background: none !important;
  box-shadow: none !important;
  line-height: 40px !important;
}

.menu_inicio{
color: #222222 ;
display: inline-flex;
}
.menu_inicio:hover{
color: #ff4863 !important;
background: none;
}

.logo{
  margin-top: 10%;
  margin-left:  -60%;
  width: 190px;
}
.card{
  height: 100% !important;
  overflow: hidden;
}
.card-title{
  color: #ff4863!important;
}
.card-action a:hover{
  color: #ff4863!important;
}
.card-content {
  height: 320px !important;
}
.card-content a{
  color: #331138 !important;
}
.card-content a:hover{
  color: #ff4863!important;
}
.iconos_market{
  height:  25px;
}
.listado_card{
  display: inline-flex;
}

.listado_card li{
  margin-left: 5%;
}
.bage{
  margin-top: 4px;

}
.flickr_pagination {
  justify-content: center;
  text-align: center;
  padding: 0.3em;
  cursor: default;

}
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em;
}
.flickr_pagination .disabled{
  color: #331138;
}
.flickr_pagination .disabled:hover{
  color: #ff4664;
}

.flickr_pagination .current{
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  color: #ff4664;
}
.flickr_pagination a {
  color: #331138;
  text-decoration: none;
 }
.flickr_pagination a:hover, .flickr_pagination a:focus {
  color: #ff4664;
 }
 .logo_pie{
   width: 100%;
 }
 .logo_pie1{
   margin-top: 10px;
   width: 40% !important
 }
footer{
  position: absolute;
  margin-top: 2%;
  width: 100%;

}
.primera_sesion{
  border-bottom: solid 2px white;
}

.logo_c {
  height: inherit;
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  padding: 20%;

}
.listado_pie{
  display: inline-flex;
}

.listado_pie li{
  margin-left: 15%;
}
.carta{
  height: 420px !important;
  border-radius: 10px !important;
}
.badge{
  width: 90% !important;
  font-weight: 300;
  font-size: 0.8em !important;
  color: #ff4663;
  background-color: #ffffff00;
  border-radius: 5px;
  border: solid 1px #ff4663;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease

}
.badge:hover{
    border: solid 1px  #331138;
    font-size: 1.1em !important;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease

}
textarea {
    height: 200px !important;

}
[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #ff4863!important;
    border-bottom: 2px solid #ff4863!important;

}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #ff4863!important;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #d3a4ff !important;
}
.fondo-ruta{
  width: 600px !important;
  height:  600px !important;
}
.fondo-ruta2{
  width: 90%;
}
.cel_show{
  float: right;
  height: 250px;
}
.circulo{
  width: 3%;
}
.social-share-button  .ssb-icon  {
    background-size: 35px !important;
    height: 35px !important;
    width: 35px !important;
}
.fontX{
  font-family: 'Quantico', sans-serif;
}
.parrafos_r{
  font-size: 1.5em;
  font-family: 'DM Sans', sans-serif;
}
.tituloMercado{
  display: inline-flex;
}
.beta{
  color: #ff4663 !important;
    margin-left: 5%;
}
.buscador{
  margin-top: 5%;
}
input[type=text]:not(.browser-default),
 textarea.materialize-textarea {
    border: 1px solid #9e9e9e !important;
    border-radius: 10px !important;
  }
.navegacion{
  margin-left: 20% !important;
}

.dropdown-content li>a {
    color: #ff4863!important;
}
.titulo_card{
  color: #ff4863!important;
  font-size: 1.1em;
}
.titulo_card2{
  color: #331138 !important;
  font-size: 1.1em;

}
.imagenes_carta{
  display: inline-grid;
}
.imagenes_carta li{
  margin-top: 5px;
  margin-left: 10px;
}
.skills_list{
  display: inline-flex;
  max-width: 100%;
}
nav ul a{
  font-size: 14px !important;
}
.ssb-whatsapp_web{
display: inline-block !important;

}
.ssb-whatsapp_app{
    display: none !important;

}
blockquote{
  border-left: 5px solid #ff4863 !important;
}
.segunda_sesion ul li a{
  text-decoration: none !important;
  border-bottom: 1px solid white;
  color: white !important;

}
.tableta{
  width: 100%;
  height: 100%;
}
.comparte{
  display: inline-flex;
  margin-left: 10px !important;
}
.midiv{
  margin-right: 2%;
}
.etiqueta{
  margin-top: -10%;
  background: #f54864 !important;
  color: white !important;
}
.etiqueta2{
  margin-top: -10%;
  background: #331038 !important;
  color: white !important;
}
.etiqueta3{
  margin-top: -10%;
  background: #86868699 !important;
  color: white !important;
}

.chips_texto{
  font-size: 0.7em !important;
}
.select_line{
  border-bottom: solid 2px #331138;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease
}
.filtros{
  display: inline-flex;
  padding: 3%;
  border-right: solid 2px #e4e4e4;

}
.sub{
  display: inline-block;
}
.tituloFiltros{
  color: #ff4863 !important;
  font-size: 1.3em;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.tituloFiltros:hover{
  color: white !important;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.cuerpo{
  margin-top: 1% !important;
}
.bordillo {
     border-bottom: 1px solid #ddd !important;
     padding: 1%;
}
.busque{
  margin-top: -5% !important;
}

.iniciar{
  margin-right: 10%;
}
.chipAlerta{
  width: 100%;
}

.chip .close {
    font-size: 30px !important;
}

.portadaServicio{
  width: 100%;
  max-height: 500px;
}
.fotoProfile{

  height: 500px;
  overflow: hidden !important;
  padding: 1%;
}
.fotoPerfilAvatar{
  background: #ff4863 !important;
  border-radius: 50%;
  width: 80%;
  height: 400px;
  padding: 5%;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease
}
.fotoPerfilAvatar:hover{
    background: #331138 !important;
  padding: 10%;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease

}
.sello{
  width: 100%;
}

@media (max-width:992px) {

  .filtros{
    display: none;
  }

  }
@media (max-width:700px) {
  .ssb-whatsapp_web{
        display: none !important;
  }
  .ssb-whatsapp_app{
      display: inline-block !important;

  }
  .filtros{
    display: none;
  }




}
